.hero-id {
    display: inline-block;
    background-color: #607D8B;
    color: #fff;
    padding: 8px;
    border-radius: 5px 0 0 5px;
}

.hero-name {
    display: inline-block;
    background-color: #EEEEEE;
    color: #8894AD;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    font-size: 16;
}

.hero-item {
    padding-top: 10px;
    display: flex;
    cursor: pointer;
}